
   [Parameters]
sig_Mass_mean =  91.789 +/- 2.1338 L(0 - 120) 
sig_Mass_sigmaL =  3.3972 +/- 2.3696 L(0 - 1000) 
sig_Mass_sigmaR =  1.8237 +/- 1.7616 L(0 - 1000) 
sig_Mass_alphaL =  0.18944 +/- 0.13357 L(0 - 1000) 
sig_Mass_alphaR =  0.22570 +/- 0.16337 L(0 - 1000) 
ttbarbkg_Mass_p1 =  1.0000 C L(-INF - +INF) 
ttbarbkg_Mass_p2 =  1.0000 C L(-INF - +INF) 
N_sig = -99.9585 +/- 0.69361 L(-100 - 10000) 
N_ttbarbkg =  0.0000 C L(-INF - +INF) 

   [Observables]
