   [Parameters] 

/////////////////////////////////////////////////////////////
// Mass
/////////////////////////////////////////////////////////////

// Cruijff
sig_Mass_mean =    91.242 +/- 0.12175 L(0 - 120) 
sig_Mass_sigmaL =  2.1655 +/- 0.091591 L(0 - 1000) 
sig_Mass_sigmaR =  1.8870 +/- 0.096230 L(0 - 1000) 
sig_Mass_alphaL =  0.20401 +/- 0.0049926 C L(0 - 1000) 
sig_Mass_alphaR =  0.21994 +/- 0.0071414 C L(0 - 1000) 

sig_sinMHTphiMET_mean1 = 0 +/- 0.1 L(-0.85 - 0.85)
sig_sinMHTphiMET_sigma1 = 0.2 +/- 0.3 L(0.05 - 0.6)
sig_sinMHTphiMET_mean2 = 0 +/- 0.1 L(-0.85 - 0.85)
sig_sinMHTphiMET_sigma2 = 0.4 +/- 0.3 L(0.05 - 0.8)
sig_sinMHTphiMET_f1 = 0.6 +/- 0.1 L(0.1 - 0.8)

ttbarbkg_Mass_mean   =   30. +/- 30. C L(0. - 120.)	
ttbarbkg_Mass_sigmaL =  200. +/- 30. C L(0. - 1000.)	
ttbarbkg_Mass_sigmaR =  200. +/- 30. C L(0. - 1000.)	
ttbarbkg_Mass_alphaL =  200. +/- 30. C L(0. - 1000.)	
ttbarbkg_Mass_alphaR =  200. +/- 30. C L(0. - 1000.)	

ttbarbkg_sinMHTphiMET_p1 = 0 +/- 0.1  C L(-10 - 10)
ttbarbkg_sinMHTphiMET_p2 = 0.2 +/- 0.3  C L(10 - 10)

/////////////////////////////////////////////////////////////
// yields 
/////////////////////////////////////////////////////////////

N_sig =  2000. +/-  10. L(-100 - 10000)
N_ttbarbkg =  0. +/-  20. C L(-100 - 10000)

  [Observables]

invMass =  90 C L(60 - 110)      // [GeV]
sinMHTphiMET = 0 C L(-0.85 - 0.85)


