   [Parameters] 

/////////////////////////////////////////////////////////////
// Mass
/////////////////////////////////////////////////////////////

// Cruijff
sig_Mass_mean =    91.242 +/- 0.12175 C L(30 - 110) 
sig_Mass_sigmaL =  2.1655 +/- 0.091591 C L(0 - 1000) 
sig_Mass_sigmaR =  1.8870 +/- 0.096230 C L(0 - 1000) 
sig_Mass_alphaL =  0.17907 +/- 0.0055631 C L(0 - 1000) 
sig_Mass_alphaR =  0.20331 +/- 0.0080864 C L(0 - 1000) 

sig_sinMHTphiMET_mean1 = 0 +/- 0.1 C L(-0.85 - 0.85)
sig_sinMHTphiMET_sigma1 = 0.2 +/- 0.3 C L(0.05 - 0.6)
sig_sinMHTphiMET_mean2 = 0 +/- 0.1 C L(-0.85 - 0.85)
sig_sinMHTphiMET_sigma2 = 0.4 +/- 0.3 C L(0.05 - 0.8)
sig_sinMHTphiMET_f1 = 0.6 +/- 0.1 C L(0.1 - 0.8)

ttbarbkg_Mass_p1  = -1 +/- 1    L(-1000 - 1000)
ttbarbkg_Mass_p2  = 0 +/- 1    L(-200 - 200)

ttbarbkg_sinMHTphiMET_p1 = 0 +/- 0.1  L(-10 - 10)
ttbarbkg_sinMHTphiMET_p2 = 0.0 +/- 0.1  C L(-10 - 10)

/////////////////////////////////////////////////////////////
// yields 
/////////////////////////////////////////////////////////////

N_sig =  0.000 C L(-10 - 100000)
N_ttbarbkg =  1000 +/-  20.  L(0 - 2000)

  [Observables]

invMass =  90 C L(70 - 110)      // [GeV]
sinMHTphiMET = 0 C L(-0.85 - 0.85)

