   [Parameters] 

/////////////////////////////////////////////////////////////
// Mass
/////////////////////////////////////////////////////////////

// Cruijff
sig_Mass_mean =    91.242 +/- 0.12175 C L(0 - 120) 
sig_Mass_sigmaL =  2.1655 +/- 0.091591 C L(0 - 1000) 
sig_Mass_sigmaR =  1.8870 +/- 0.096230 C L(0 - 1000) 
sig_Mass_alphaL =  0.17907 +/- 0.0055631 C L(0 - 1000) 
sig_Mass_alphaR =  0.20331 +/- 0.0080864 C L(0 - 1000) 

ttbarbkg_Mass_p1  = -1 +/- 100    L(-1000 - 1000)
ttbarbkg_Mass_p2  = 0 +/- 100    L(-200 - 200)

/////////////////////////////////////////////////////////////
// yields 
/////////////////////////////////////////////////////////////

N_sig =  0.000 C L(0 - 10000)
N_ttbarbkg =  100 +/-  20.  L(-100 - 10000)

  [Observables]

invMass =  90 C L(70 - 110)      // [GeV]
CSA07weight  = 0.001 C L(0. - 100.) 
