   [Parameters] 

/////////////////////////////////////////////////////////////
// Mass
/////////////////////////////////////////////////////////////

// Cruijff
sig_Mass_mean =    91.242 +/- 0.12175 L(0 - 120) 
sig_Mass_sigmaL =  2.1655 +/- 0.091591 L(0 - 1000) 
sig_Mass_sigmaR =  1.8870 +/- 0.096230 L(0 - 1000) 
sig_Mass_alphaL =  0.17907 +/- 0.0055631 L(0 - 1000) 
sig_Mass_alphaR =  0.20331 +/- 0.0080864 L(0 - 1000) 

bkg_Mass_mean   =   30. +/- 30. C L(0. - 120.)	
bkg_Mass_sigmaL =  200. +/- 30. C L(0. - 1000.)	
bkg_Mass_sigmaR =  200. +/- 30. C L(0. - 1000.)	
bkg_Mass_alphaL =  200. +/- 30. C L(0. - 1000.)	
bkg_Mass_alphaR =  200. +/- 30. C L(0. - 1000.)	

/////////////////////////////////////////////////////////////
// yields 
/////////////////////////////////////////////////////////////

N_sig =  2000. +/-  10. L(-100 - 10000)
N_ttbarbkg =  0. +/-  20. C L(-100 - 10000)

  [Observables]

invMass =  90 C L(60 - 110)      // [GeV]
CSA07weight  = 0.001 C L(0. - 100.) 

