
   [Parameters]
sig_Mass_mean =  61.996 +/- 14.421 L(30 - 300) 
sig_Mass_sigmaL =  4.3255 +/- 18.692 L(1 - 100) 
sig_Mass_sigmaR =  84.283 +/- 80.479 L(1 - 100) 
sig_Mass_alphaL =  0.55446 +/- 0.66294 L(0 - 100) 
sig_Mass_alphaR =  0.034499 +/- 1.5089 L(0 - 100) 
zeeBkg_Mass_mean1 =  0.0000 C L(-INF - +INF) 
zeeBkg_Mass_sigmaL1 =  1.0000 C L(-INF - +INF) 
zeeBkg_Mass_sigmaR1 =  1.0000 C L(-INF - +INF) 
zeeBkg_Mass_alphaL1 =  0.10000 C L(-INF - +INF) 
zeeBkg_Mass_alphaR1 =  0.10000 C L(-INF - +INF) 
zeeBkg_Mass_mean2 =  0.0000 C L(-INF - +INF) 
zeeBkg_Mass_sigmaL2 =  1.0000 C L(-INF - +INF) 
zeeBkg_Mass_sigmaR2 =  1.0000 C L(-INF - +INF) 
zeeBkg_Mass_alphaL2 =  0.10000 C L(-INF - +INF) 
zeeBkg_Mass_alphaR2 =  0.10000 C L(-INF - +INF) 
zeeBkg_Mass_f1 =  0.50000 C L(-INF - +INF) 
ttbarBkg_Mass_mean =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_sigmaL =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_sigmaR =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_alphaL =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_alphaR =  0.10000 C L(-INF - +INF) 
qcdBkg_Mass_p1 =  1.0000 C L(-INF - +INF) 
qcdBkg_Mass_p2 =  1.0000 C L(-INF - +INF) 
N_sig = -718.043 +/- 31.993 L(-1000 - 1e+06) 
N_zeeBkg =  0.0000 C L(-INF - +INF) 
N_ttbarBkg =  0.0000 C L(-INF - +INF) 
N_qcdBkg =  0.0000 C L(-INF - +INF) 

   [Observables]
