
   [Parameters]
sig_Mass_mean =  70.000 C L(50 - 100) 
sig_Mass_sigma0 =  90.000 C L(1 - 100) 
sig_Mass_sigma1 =  90.000 C L(1 - 100) 
sig_Mass_alpha = -5.00000 C L(-10 - 0) 
sig_Mass_N =  100.00 C L(0 - 300) 
sig_Mass_f1 =  0.50000 C L(0 - 1) 
zeeBkg_Mass_mean =  60.681 +/- 2.1614 L(50 - 100) 
zeeBkg_Mass_sigma0 =  50.534 +/- 9.4870 L(1 - 100) 
zeeBkg_Mass_sigma1 =  23.330 +/- 4.9910 L(1 - 100) 
zeeBkg_Mass_alpha = -0.670142 +/- 0.25986 L(-10 - 0) 
zeeBkg_Mass_N =  19.384 +/- 53.180 L(0 - 300) 
zeeBkg_Mass_f1 =  0.30985 +/- 0.21205 L(0 - 1) 
ttbarBkg_Mass_mean =  70.000 C L(50 - 100) 
ttbarBkg_Mass_sigma0 =  90.000 C L(1 - 100) 
ttbarBkg_Mass_sigma1 =  90.000 C L(1 - 100) 
ttbarBkg_Mass_alpha = -5.00000 C L(-10 - 0) 
ttbarBkg_Mass_N =  100.00 C L(0 - 300) 
ttbarBkg_Mass_f1 =  0.50000 C L(0 - 1) 
qcdBkg_Mass_p1 =  1.0000 C L(-INF - +INF) 
qcdBkg_Mass_p2 =  1.0000 C L(-INF - +INF) 
N_sig =  0.0000 C L(-1000 - 1e+06) 
N_zeeBkg =  1613.1 +/- 40.164 L(-1000 - 10000) 
N_ttbarBkg =  0.0000 C L(-INF - +INF) 
N_qcdBkg =  0.0000 C L(-INF - +INF) 

   [Observables]
