
   [Parameters]
sig_Mass_mean =  60.643 +/- 179.96 L(0 - 300) 
sig_Mass_sigmaL =  2.6205 +/- 52.844 L(1 - 100) 
sig_Mass_sigmaR =  73.682 +/- 85.471 L(1 - 100) 
sig_Mass_alphaL =  0.56926 +/- 0.72794 L(0 - 100) 
sig_Mass_alphaR =  0.13032 +/- 0.43269 L(0 - 100) 
zeeBkg_Mass_mean =  0.10000 C L(-INF - +INF) 
zeeBkg_Mass_sigmaL =  0.10000 C L(-INF - +INF) 
zeeBkg_Mass_sigmaR =  0.10000 C L(-INF - +INF) 
zeeBkg_Mass_alphaL =  0.10000 C L(-INF - +INF) 
zeeBkg_Mass_alphaR =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_mean =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_sigmaL =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_sigmaR =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_alphaL =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_alphaR =  0.10000 C L(-INF - +INF) 
qcdBkg_Mass_mean =  0.10000 C L(-INF - +INF) 
qcdBkg_Mass_sigmaL =  0.10000 C L(-INF - +INF) 
qcdBkg_Mass_sigmaR =  0.10000 C L(-INF - +INF) 
qcdBkg_Mass_alphaL =  0.10000 C L(-INF - +INF) 
qcdBkg_Mass_alphaR =  0.10000 C L(-INF - +INF) 
N_sig = -992.291 +/- 4.0039 L(-1000 - 1e+06) 
N_zeeBkg =  0.0000 C L(-INF - +INF) 
N_ttbarBkg =  0.0000 C L(-INF - +INF) 
N_qcdBkg =  0.0000 C L(-INF - +INF) 

   [Observables]
