
   [Parameters]
sig_Mass_mean =  70.000 C L(50 - 100) 
sig_Mass_sigma0 =  90.000 C L(1 - 100) 
sig_Mass_sigma1 =  90.000 C L(1 - 100) 
sig_Mass_alpha =  0.0000 C L(-10 - 0) 
sig_Mass_N =  0.0000 C L(0 - 300) 
sig_Mass_f1 =  0.0000 C L(0 - 1) 
zeeBkg_Mass_mean =  70.000 C L(50 - 100) 
zeeBkg_Mass_sigmaL =  0.10000 C L(-INF - +INF) 
zeeBkg_Mass_sigmaR =  0.10000 C L(-INF - +INF) 
zeeBkg_Mass_alphaL =  0.10000 C L(-INF - +INF) 
zeeBkg_Mass_alphaR =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_mean =  73.946 +/- 1.3525 L(50 - 100) 
ttbarBkg_Mass_sigma0 =  15.273 +/- 4.8952 L(1 - 100) 
ttbarBkg_Mass_sigma1 =  44.154 +/- 12.610 L(1 - 100) 
ttbarBkg_Mass_alpha = -1.25056 +/- 0.40869 L(-10 - 0) 
ttbarBkg_Mass_N =  7.3269 +/- 9.3149 L(0 - 300) 
ttbarBkg_Mass_f1 =  0.25423 +/- 0.17183 L(0 - 1) 
qcdBkg_Mass_p1 =  1.0000 C L(-INF - +INF) 
qcdBkg_Mass_p2 =  1.0000 C L(-INF - +INF) 
N_sig =  0.0000 C L(-1000 - 1e+06) 
N_zeeBkg =  0.0000 C L(-INF - +INF) 
N_ttbarBkg =  1083.0 +/- 32.910 L(-1000 - 100000) 
N_qcdBkg =  0.0000 C L(-INF - +INF) 

   [Observables]
