
   [Parameters]
sig_Mass_mean =  70.000 C L(50 - 100) 
sig_Mass_sigma0 =  90.000 C L(1 - 100) 
sig_Mass_sigma1 =  90.000 C L(1 - 100) 
sig_Mass_alpha =  0.0000 C L(-10 - 0) 
sig_Mass_N =  0.0000 C L(0 - 300) 
sig_Mass_f1 =  0.0000 C L(0 - 1) 
zeeBkg_Mass_mean =  70.000 C L(50 - 100) 
zeeBkg_Mass_sigma0 =  90.000 C L(1 - 100) 
zeeBkg_Mass_sigma1 =  90.000 C L(1 - 100) 
zeeBkg_Mass_alpha = -5.00000 C L(-10 - 0) 
zeeBkg_Mass_N =  100.00 C L(0 - 300) 
zeeBkg_Mass_f1 =  0.50000 C L(0 - 1) 
ttbarBkg_Mass_mean =  68.128 +/- 2.1791 L(50 - 100) 
ttbarBkg_Mass_sigma0 =  33.224 +/- 2.6122 L(1 - 100) 
ttbarBkg_Mass_sigma1 =  11.339 +/- 3.7498 L(1 - 100) 
ttbarBkg_Mass_alpha = -0.194528 +/- 0.091072 L(-10 - 0) 
ttbarBkg_Mass_N =  17.532 +/- 41.744 L(0 - 300) 
ttbarBkg_Mass_f1 =  0.56738 +/- 0.058715 L(0 - 1) 
qcdBkg_Mass_p1 =  1.0000 C L(-INF - +INF) 
qcdBkg_Mass_p2 =  1.0000 C L(-INF - +INF) 
N_sig =  0.0000 C L(-1000 - 1e+06) 
N_zeeBkg =  0.0000 C L(-INF - +INF) 
N_ttbarBkg =  2207.0 +/- 46.978 L(-1000 - 100000) 
N_qcdBkg =  0.0000 C L(-INF - +INF) 

   [Observables]
