
   [Parameters]
sig_Mass_mean =  84.256 +/- 37.496 L(30 - 300) 
sig_Mass_sigmaL =  20.812 +/- 29.882 L(1 - 100) 
sig_Mass_sigmaR =  50.724 +/- 28.282 L(1 - 100) 
sig_Mass_alphaL =  0.40183 +/- 0.59455 L(0 - 100) 
sig_Mass_alphaR =  0.22676 +/- 0.17064 L(0 - 100) 
zeeBkg_Mass_mean1 =  0.0000 C L(-INF - +INF) 
zeeBkg_Mass_sigmaL1 =  1.0000 C L(-INF - +INF) 
zeeBkg_Mass_sigmaR1 =  1.0000 C L(-INF - +INF) 
zeeBkg_Mass_alphaL1 =  0.10000 C L(-INF - +INF) 
zeeBkg_Mass_alphaR1 =  0.10000 C L(-INF - +INF) 
zeeBkg_Mass_mean2 =  0.0000 C L(-INF - +INF) 
zeeBkg_Mass_sigmaL2 =  1.0000 C L(-INF - +INF) 
zeeBkg_Mass_sigmaR2 =  1.0000 C L(-INF - +INF) 
zeeBkg_Mass_alphaL2 =  0.10000 C L(-INF - +INF) 
zeeBkg_Mass_alphaR2 =  0.10000 C L(-INF - +INF) 
zeeBkg_Mass_f1 =  0.50000 C L(-INF - +INF) 
ttbarBkg_Mass_mean =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_sigmaL =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_sigmaR =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_alphaL =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_alphaR =  0.10000 C L(-INF - +INF) 
qcdBkg_Mass_p1 =  1.0000 C L(-INF - +INF) 
qcdBkg_Mass_p2 =  1.0000 C L(-INF - +INF) 
N_sig = -718.662 +/- 61.529 L(-1000 - 1e+06) 
N_zeeBkg =  0.0000 C L(-INF - +INF) 
N_ttbarBkg =  0.0000 C L(-INF - +INF) 
N_qcdBkg =  0.0000 C L(-INF - +INF) 

   [Observables]
