
   [Parameters]
sig_Mass_mean =  79.139 +/- 0.76029 C L(0 - 300) 
sig_Mass_sigmaL =  17.546 +/- 0.73599 C L(1 - 100) 
sig_Mass_sigmaR =  39.642 +/- 0.71501 C L(1 - 100) 
sig_Mass_alphaL =  0.18656 +/- 0.013303 C L(0 - 100) 
sig_Mass_alphaR =  0.12188 +/- 0.0053125 C L(0 - 100) 
zeeBkg_Mass_mean1 =  86.807 +/- 15.039 L(0 - 300) 
zeeBkg_Mass_sigmaL1 =  25.792 +/- 13.393 L(1 - 100) 
zeeBkg_Mass_sigmaR1 =  71.994 +/- 20.283 L(1 - 100) 
zeeBkg_Mass_alphaL1 =  0.0000 C L(0 - 1) 
zeeBkg_Mass_alphaR1 =  0.0035701 +/- 0.71552 L(0 - 1) 
zeeBkg_Mass_mean2 =  19.938 +/- 14.335 L(0 - 300) 
zeeBkg_Mass_sigmaL2 =  10.056 +/- 88.879 L(10 - 100) 
zeeBkg_Mass_sigmaR2 =  99.692 +/- 20.545 L(10 - 100) 
zeeBkg_Mass_alphaL2 =  0.0000 C L(0 - 1) 
zeeBkg_Mass_alphaR2 =  0.00042586 +/- 0.86012 L(0 - 1) 
zeeBkg_Mass_f1 =  0.72494 +/- 0.22323 L(0 - 1) 
ttbarBkg_Mass_mean =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_sigmaL =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_sigmaR =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_alphaL =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_alphaR =  0.10000 C L(-INF - +INF) 
qcdBkg_Mass_p1 =  1.0000 C L(-INF - +INF) 
qcdBkg_Mass_p2 =  1.0000 C L(-INF - +INF) 
N_sig =  0.0000 C L(-1000 - 1e+06) 
N_zeeBkg = -300.787 +/- 6877.8 L(-1000 - 10000) 
N_ttbarBkg =  0.0000 C L(-INF - +INF) 
N_qcdBkg =  0.0000 C L(-INF - +INF) 

   [Observables]
