
   [Parameters]
sig_Mass_mean =  69.903 +/- 0.028985 L(50 - 100) 
sig_Mass_sigma0 =  24.352 +/- 0.090759 L(1 - 100) 
sig_Mass_sigma1 =  8.1972 +/- 0.035294 L(1 - 100) 
sig_Mass_alpha = -0.260304 +/- 0.011328 L(-10 - 0) 
sig_Mass_N =  106.04 +/- 0.97273 L(0 - 300) 
sig_Mass_f1 =  0.50653 +/- 0.0014674 L(0 - 1) 
zeeBkg_Mass_mean =  0.10000 C L(-INF - +INF) 
zeeBkg_Mass_sigmaL =  0.10000 C L(-INF - +INF) 
zeeBkg_Mass_sigmaR =  0.10000 C L(-INF - +INF) 
zeeBkg_Mass_alphaL =  0.10000 C L(-INF - +INF) 
zeeBkg_Mass_alphaR =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_mean =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_sigma0 =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_sigma1 =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_alpha =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_N =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_f1 =  0.10000 C L(-INF - +INF) 
qcdBkg_Mass_p1 =  1.0000 C L(-INF - +INF) 
qcdBkg_Mass_p2 =  1.0000 C L(-INF - +INF) 
N_sig =  19810 +/- 22.909 L(-1000 - 1e+06) 
N_zeeBkg =  0.0000 C L(-INF - +INF) 
N_ttbarBkg =  0.0000 C L(-INF - +INF) 
N_qcdBkg =  0.0000 C L(-INF - +INF) 

   [Observables]
