
   [Parameters]
sig_Mass_mean =  69.004 +/- 2.6954 L(50 - 100) 
sig_Mass_sigma0 =  27.935 +/- 3.4950 L(1 - 100) 
sig_Mass_sigma1 =  7.9008 +/- 3.0606 L(1 - 100) 
sig_Mass_alpha = -0.165370 +/- 0.068864 L(-10 - 0) 
sig_Mass_N =  92.736 +/- 236.28 L(0 - 300) 
sig_Mass_f1 =  0.54120 +/- 0.084619 L(0 - 1) 
zeeBkg_Mass_mean =  70.000 C L(50 - 100) 
zeeBkg_Mass_sigmaL =  0.10000 C L(-INF - +INF) 
zeeBkg_Mass_sigmaR =  0.10000 C L(-INF - +INF) 
zeeBkg_Mass_alphaL =  0.10000 C L(-INF - +INF) 
zeeBkg_Mass_alphaR =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_mean =  70.000 C L(50 - 100) 
ttbarBkg_Mass_sigma0 =  90.000 C L(1 - 100) 
ttbarBkg_Mass_sigma1 =  90.000 C L(1 - 100) 
ttbarBkg_Mass_alpha = -5.00000 C L(-10 - 0) 
ttbarBkg_Mass_N =  100.00 C L(0 - 300) 
ttbarBkg_Mass_f1 =  0.50000 C L(0 - 1) 
qcdBkg_Mass_p1 =  1.0000 C L(-INF - +INF) 
qcdBkg_Mass_p2 =  1.0000 C L(-INF - +INF) 
N_sig =  3246.8 +/- 82.691 L(-1000 - 1e+06) 
N_zeeBkg =  0.0000 C L(-INF - +INF) 
N_ttbarBkg =  0.0000 C L(-INF - +INF) 
N_qcdBkg =  0.0000 C L(-INF - +INF) 

   [Observables]
