
   [Parameters]
sig_Mass_mean =  70.000 C L(50 - 100) 
sig_Mass_sigma0 =  90.000 C L(1 - 100) 
sig_Mass_sigma1 =  90.000 C L(1 - 100) 
sig_Mass_alpha = -5.00000 C L(-10 - 0) 
sig_Mass_N =  100.00 C L(0 - 300) 
sig_Mass_f1 =  0.50000 C L(0 - 1) 
zeeBkg_Mass_mean =  66.032 +/- 7.3491 L(50 - 100) 
zeeBkg_Mass_sigma0 =  45.517 +/- 19.470 L(1 - 100) 
zeeBkg_Mass_sigma1 =  25.741 +/- 17.687 L(1 - 100) 
zeeBkg_Mass_alpha = -0.568417 +/- 0.61462 L(-10 - 0) 
zeeBkg_Mass_N =  122.93 +/- 154.60 L(0 - 300) 
zeeBkg_Mass_f1 =  0.26680 +/- 0.62346 L(0 - 1) 
ttbarBkg_Mass_mean =  70.000 C L(50 - 100) 
ttbarBkg_Mass_sigma0 =  90.000 C L(1 - 100) 
ttbarBkg_Mass_sigma1 =  90.000 C L(1 - 100) 
ttbarBkg_Mass_alpha = -5.00000 C L(-10 - 0) 
ttbarBkg_Mass_N =  100.00 C L(0 - 300) 
ttbarBkg_Mass_f1 =  0.50000 C L(0 - 1) 
qcdBkg_Mass_p1 =  1.0000 C L(-INF - +INF) 
qcdBkg_Mass_p2 =  1.0000 C L(-INF - +INF) 
N_sig =  0.0000 C L(-1000 - 1e+06) 
N_zeeBkg =  440.00 +/- 20.976 L(-1000 - 10000) 
N_ttbarBkg =  0.0000 C L(-INF - +INF) 
N_qcdBkg =  0.0000 C L(-INF - +INF) 

   [Observables]
