
   [Parameters]
sig_Mass_mean =  81.908 +/- 0.12996 L(30 - 300) 
sig_Mass_sigmaL =  18.707 +/- 0.046434 L(1 - 100) 
sig_Mass_sigmaR =  46.901 +/- 0.060424 L(1 - 100) 
sig_Mass_alphaL =  0.28068 +/- 0.0064613 L(0 - 100) 
sig_Mass_alphaR =  0.19573 +/- 0.0052746 L(0 - 100) 
zeeBkg_Mass_mean1 =  0.0000 C L(-INF - +INF) 
zeeBkg_Mass_sigmaL1 =  1.0000 C L(-INF - +INF) 
zeeBkg_Mass_sigmaR1 =  1.0000 C L(-INF - +INF) 
zeeBkg_Mass_alphaL1 =  0.10000 C L(-INF - +INF) 
zeeBkg_Mass_alphaR1 =  0.10000 C L(-INF - +INF) 
zeeBkg_Mass_mean2 =  0.0000 C L(-INF - +INF) 
zeeBkg_Mass_sigmaL2 =  1.0000 C L(-INF - +INF) 
zeeBkg_Mass_sigmaR2 =  1.0000 C L(-INF - +INF) 
zeeBkg_Mass_alphaL2 =  0.10000 C L(-INF - +INF) 
zeeBkg_Mass_alphaR2 =  0.10000 C L(-INF - +INF) 
zeeBkg_Mass_f1 =  0.50000 C L(-INF - +INF) 
ttbarBkg_Mass_mean =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_sigmaL =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_sigmaR =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_alphaL =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_alphaR =  0.10000 C L(-INF - +INF) 
qcdBkg_Mass_p1 =  1.0000 C L(-INF - +INF) 
qcdBkg_Mass_p2 =  1.0000 C L(-INF - +INF) 
N_sig = -860.822 +/- 230015 L(-1000 - 1e+06) 
N_zeeBkg =  0.0000 C L(-INF - +INF) 
N_ttbarBkg =  0.0000 C L(-INF - +INF) 
N_qcdBkg =  0.0000 C L(-INF - +INF) 

   [Observables]
