
   [Parameters]
sig_Mass_mean =  76.148 +/- 0.72681 L(30 - 300) 
sig_Mass_sigmaL =  13.176 +/- 0.74764 L(1 - 100) 
sig_Mass_sigmaR =  41.213 +/- 0.68636 L(1 - 100) 
sig_Mass_alphaL =  0.27171 +/- 0.023835 L(0 - 100) 
sig_Mass_alphaR =  0.12107 +/- 0.0050006 L(0 - 100) 
zeeBkg_Mass_mean1 =  0.0000 C L(-INF - +INF) 
zeeBkg_Mass_sigmaL1 =  1.0000 C L(-INF - +INF) 
zeeBkg_Mass_sigmaR1 =  1.0000 C L(-INF - +INF) 
zeeBkg_Mass_alphaL1 =  0.10000 C L(-INF - +INF) 
zeeBkg_Mass_alphaR1 =  0.10000 C L(-INF - +INF) 
zeeBkg_Mass_mean2 =  0.0000 C L(-INF - +INF) 
zeeBkg_Mass_sigmaL2 =  1.0000 C L(-INF - +INF) 
zeeBkg_Mass_sigmaR2 =  1.0000 C L(-INF - +INF) 
zeeBkg_Mass_alphaL2 =  0.10000 C L(-INF - +INF) 
zeeBkg_Mass_alphaR2 =  0.10000 C L(-INF - +INF) 
zeeBkg_Mass_f1 =  0.50000 C L(-INF - +INF) 
ttbarBkg_Mass_mean =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_sigmaL =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_sigmaR =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_alphaL =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_alphaR =  0.10000 C L(-INF - +INF) 
qcdBkg_Mass_p1 =  1.0000 C L(-INF - +INF) 
qcdBkg_Mass_p2 =  1.0000 C L(-INF - +INF) 
N_sig =  18742 +/- 136.90 L(-1000 - 1e+06) 
N_zeeBkg =  0.0000 C L(-INF - +INF) 
N_ttbarBkg =  0.0000 C L(-INF - +INF) 
N_qcdBkg =  0.0000 C L(-INF - +INF) 

   [Observables]
