
   [Parameters]
sig_Mass_mean =  75.860 +/- 5.0829 L(50 - 100) 
sig_Mass_sigma0 =  16.825 +/- 10.444 L(1 - 100) 
sig_Mass_sigma1 =  34.075 +/- 22.217 L(1 - 100) 
sig_Mass_alpha = -0.724266 +/- 0.45451 L(-10 - 0) 
sig_Mass_N =  72.157 +/- 234.27 L(0 - 300) 
sig_Mass_f1 =  0.22066 +/- 0.29422 L(0 - 1) 
zeeBkg_Mass_mean =  70.000 C L(50 - 100) 
zeeBkg_Mass_sigmaL =  0.10000 C L(-INF - +INF) 
zeeBkg_Mass_sigmaR =  0.10000 C L(-INF - +INF) 
zeeBkg_Mass_alphaL =  0.10000 C L(-INF - +INF) 
zeeBkg_Mass_alphaR =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_mean =  70.000 C L(50 - 100) 
ttbarBkg_Mass_sigma0 =  90.000 C L(1 - 100) 
ttbarBkg_Mass_sigma1 =  90.000 C L(1 - 100) 
ttbarBkg_Mass_alpha = -5.00000 C L(-10 - 0) 
ttbarBkg_Mass_N =  100.00 C L(0 - 300) 
ttbarBkg_Mass_f1 =  0.50000 C L(0 - 1) 
qcdBkg_Mass_p1 =  1.0000 C L(-INF - +INF) 
qcdBkg_Mass_p2 =  1.0000 C L(-INF - +INF) 
N_sig = -790.060 +/- 90.334 L(-1000 - 1e+06) 
N_zeeBkg =  0.0000 C L(-INF - +INF) 
N_ttbarBkg =  0.0000 C L(-INF - +INF) 
N_qcdBkg =  0.0000 C L(-INF - +INF) 

   [Observables]
