
   [Parameters]
sig_Mass_mean =  79.139 +/- 0.76029 C L(0 - 300) 
sig_Mass_sigmaL =  17.546 +/- 0.73599 C L(1 - 100) 
sig_Mass_sigmaR =  39.642 +/- 0.71501 C L(1 - 100) 
sig_Mass_alphaL =  0.18656 +/- 0.013303 C L(0 - 100) 
sig_Mass_alphaR =  0.12188 +/- 0.0053125 C L(0 - 100) 
zeeBkg_Mass_mean1 =  69.620 +/- 2.3183 L(0 - 300) 
zeeBkg_Mass_sigmaL1 =  17.672 +/- 0.71624 L(1 - 100) 
zeeBkg_Mass_sigmaR1 =  45.048 +/- 0.95418 L(1 - 100) 
zeeBkg_Mass_alphaL1 =  0.0000 C L(0 - 1) 
zeeBkg_Mass_alphaR1 =  0.23565 +/- 0.0082534 L(0 - 1) 
zeeBkg_Mass_mean2 =  34.708 +/- 1.8277 L(0 - 300) 
zeeBkg_Mass_sigmaL2 =  17.791 +/- 0.49207 L(10 - 100) 
zeeBkg_Mass_sigmaR2 =  84.679 +/- 0.65898 L(10 - 100) 
zeeBkg_Mass_alphaL2 =  0.0000 C L(0 - 1) 
zeeBkg_Mass_alphaR2 =  0.75753 +/- 0.0083500 L(0 - 1) 
zeeBkg_Mass_f1 =  0.58082 +/- 0.0095905 L(0 - 1) 
ttbarBkg_Mass_mean =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_sigmaL =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_sigmaR =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_alphaL =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_alphaR =  0.10000 C L(-INF - +INF) 
qcdBkg_Mass_p1 =  1.0000 C L(-INF - +INF) 
qcdBkg_Mass_p2 =  1.0000 C L(-INF - +INF) 
N_sig =  0.0000 C L(-1000 - 1e+06) 
N_zeeBkg = -503.823 +/- 2300.2 L(-1000 - 10000) 
N_ttbarBkg =  0.0000 C L(-INF - +INF) 
N_qcdBkg =  0.0000 C L(-INF - +INF) 

   [Observables]
