
   [Parameters]
sig_Mass_mean =  70.000 C L(50 - 100) 
sig_Mass_sigma0 =  90.000 C L(1 - 100) 
sig_Mass_sigma1 =  90.000 C L(1 - 100) 
sig_Mass_alpha =  0.0000 C L(-10 - 0) 
sig_Mass_N =  0.0000 C L(0 - 300) 
sig_Mass_f1 =  0.0000 C L(0 - 1) 
zeeBkg_Mass_mean =  70.000 C L(50 - 100) 
zeeBkg_Mass_sigmaL =  0.10000 C L(-INF - +INF) 
zeeBkg_Mass_sigmaR =  0.10000 C L(-INF - +INF) 
zeeBkg_Mass_alphaL =  0.10000 C L(-INF - +INF) 
zeeBkg_Mass_alphaR =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_mean =  73.783 +/- 3.6740 L(50 - 100) 
ttbarBkg_Mass_sigma0 =  13.362 +/- 14.989 L(1 - 100) 
ttbarBkg_Mass_sigma1 =  40.045 +/- 25.469 L(1 - 100) 
ttbarBkg_Mass_alpha = -1.07423 +/- 0.66285 L(-10 - 0) 
ttbarBkg_Mass_N =  9.3376 +/- 27.453 L(0 - 300) 
ttbarBkg_Mass_f1 =  0.14774 +/- 0.56502 L(0 - 1) 
qcdBkg_Mass_p1 =  1.0000 C L(-INF - +INF) 
qcdBkg_Mass_p2 =  1.0000 C L(-INF - +INF) 
N_sig =  0.0000 C L(-1000 - 1e+06) 
N_zeeBkg =  0.0000 C L(-INF - +INF) 
N_ttbarBkg =  173.95 +/- 13.187 L(-1000 - 100000) 
N_qcdBkg =  0.0000 C L(-INF - +INF) 

   [Observables]
