
   [Parameters]
sig_Mass_mean =  70.000 C L(50 - 100) 
sig_Mass_sigma0 =  90.000 C L(1 - 100) 
sig_Mass_sigma1 =  90.000 C L(1 - 100) 
sig_Mass_alpha = -5.00000 C L(-10 - 0) 
sig_Mass_N =  100.00 C L(0 - 300) 
sig_Mass_f1 =  0.50000 C L(0 - 1) 
zeeBkg_Mass_mean =  73.553 +/- 11.289 L(50 - 100) 
zeeBkg_Mass_sigma0 =  85.519 +/- 82.008 L(1 - 100) 
zeeBkg_Mass_sigma1 =  26.445 +/- 10.885 L(1 - 100) 
zeeBkg_Mass_alpha = -0.672603 +/- 0.32155 L(-10 - 0) 
zeeBkg_Mass_N =  8.4976 +/- 25.640 L(0 - 300) 
zeeBkg_Mass_f1 =  0.27984 +/- 0.37398 L(0 - 1) 
ttbarBkg_Mass_mean =  70.000 C L(50 - 100) 
ttbarBkg_Mass_sigma0 =  90.000 C L(1 - 100) 
ttbarBkg_Mass_sigma1 =  90.000 C L(1 - 100) 
ttbarBkg_Mass_alpha = -5.00000 C L(-10 - 0) 
ttbarBkg_Mass_N =  100.00 C L(0 - 300) 
ttbarBkg_Mass_f1 =  0.50000 C L(0 - 1) 
qcdBkg_Mass_p1 =  1.0000 C L(-INF - +INF) 
qcdBkg_Mass_p2 =  1.0000 C L(-INF - +INF) 
N_sig =  0.0000 C L(-1000 - 1e+06) 
N_zeeBkg = -301.013 +/- 6904.1 L(-1000 - 10000) 
N_ttbarBkg =  0.0000 C L(-INF - +INF) 
N_qcdBkg =  0.0000 C L(-INF - +INF) 

   [Observables]
