
   [Parameters]
sig_Mass_mean =  79.139 +/- 0.76029 C L(30 - 300) 
sig_Mass_sigmaL =  17.546 +/- 0.73599 C L(1 - 100) 
sig_Mass_sigmaR =  39.642 +/- 0.71501 C L(1 - 100) 
sig_Mass_alphaL =  0.18656 +/- 0.013303 C L(0 - 100) 
sig_Mass_alphaR =  0.12188 +/- 0.0053125 C L(0 - 100) 
zeeBkg_Mass_mean =  69.540 +/- 4.8395 L(30 - 300) 
zeeBkg_Mass_sigmaL =  17.546 +/- 0.73599  L(1 - 100) 
zeeBkg_Mass_sigmaR =  39.642 +/- 0.71501  L(1 - 100) 
zeeBkg_Mass_alphaL =  0.0 C L(0 - 1) 
zeeBkg_Mass_alphaR =  0.17907 +/- 0.082418 L(0 - 1) 
ttbarBkg_Mass_mean =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_sigmaL =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_sigmaR =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_alphaL =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_alphaR =  0.10000 C L(-INF - +INF) 
qcdBkg_Mass_mean =  0.10000 C L(-INF - +INF) 
qcdBkg_Mass_sigmaL =  0.10000 C L(-INF - +INF) 
qcdBkg_Mass_sigmaR =  0.10000 C L(-INF - +INF) 
qcdBkg_Mass_alphaL =  0.10000 C L(-INF - +INF) 
qcdBkg_Mass_alphaR =  0.10000 C L(-INF - +INF) 
N_sig =  0.0000 C L(-1000 - 1e+06) 
N_zeeBkg =  1999.0 +/- 44.710 L(-1000 - 10000) 
N_ttbarBkg =  0.0000 C L(-INF - +INF) 
N_qcdBkg =  0.0000 C L(-INF - +INF) 

   [Observables]

transvMass =  90 C L(30 - 300)      // [GeV]
CSA07weight  = 0.001 C L(0. - 100.)
