
   [Parameters]
sig_Mass_mean =  79.139 +/- 0.76029 L(0 - 300) 
sig_Mass_sigmaL =  17.546 +/- 0.73599  L(1 - 100) 
sig_Mass_sigmaR =  39.642 +/- 0.71501 L(1 - 100) 
sig_Mass_alphaL =  0.18656 +/- 0.013303  L(0 - 100) 
sig_Mass_alphaR =  0.12188 +/- 0.0053125  L(0 - 100) 
zeeBkg_Mass_mean =  0.10000 C L(-INF - +INF) 
zeeBkg_Mass_sigmaL =  0.10000 C L(-INF - +INF) 
zeeBkg_Mass_sigmaR =  0.10000 C L(-INF - +INF) 
zeeBkg_Mass_alphaL =  0.10000 C L(-INF - +INF) 
zeeBkg_Mass_alphaR =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_mean =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_sigmaL =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_sigmaR =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_alphaL =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_alphaR =  0.10000 C L(-INF - +INF) 
qcdBkg_Mass_mean =  0.10000 C L(-INF - +INF) 
qcdBkg_Mass_sigmaL =  0.10000 C L(-INF - +INF) 
qcdBkg_Mass_sigmaR =  0.10000 C L(-INF - +INF) 
qcdBkg_Mass_alphaL =  0.10000 C L(-INF - +INF) 
qcdBkg_Mass_alphaR =  0.10000 C L(-INF - +INF) 
N_sig =  174730 +/- 132.19 L(-1000 - 1000000) 
N_zeeBkg =  0.0000 C L(-INF - +INF) 
N_ttbarBkg =  0.0000 C L(-INF - +INF) 
N_qcdBkg =  0.0000 C L(-INF - +INF) 

   [Observables]


transvMass =  90 C L(20 - 300)      // [GeV]
CSA07weight  = 0.001 C L(0. - 100.)
