
   [Parameters]
sig_Mass_mean =  69.529 +/- 0.29009 L(50 - 100) 
sig_Mass_sigma0 =  23.758 +/- 0.45415 L(1 - 100) 
sig_Mass_sigma1 =  7.1026 +/- 0.11146 L(1 - 100) 
sig_Mass_alpha = -0.221158 +/- 0.012457  L(-10 - 0) 
sig_Mass_N =  99.994 +/- 26.515 L(0 - 300) 
sig_Mass_f1 =  0.52415 +/- 0.013678 L(0 - 1) 

zeeBkg_Mass_mean =  70 C L(50 - 100) 
zeeBkg_Mass_sigma0 =  90 C L(1 - 100) 
zeeBkg_Mass_sigma1 =  90 C L(1 - 100) 
zeeBkg_Mass_alpha = -5 C L(-10 - 0) 
zeeBkg_Mass_N =  100 C L(0 - 300) 
zeeBkg_Mass_f1 =  0.5 C L(0 - 1) 

ttbarBkg_Mass_mean =  70 C L(50 - 100) 
ttbarBkg_Mass_sigma0 =  90 C L(1 - 100) 
ttbarBkg_Mass_sigma1 =  90 C L(1 - 100) 
ttbarBkg_Mass_alpha = -5 C L(-10 - 0) 
ttbarBkg_Mass_N =  100 C L(0 - 300) 
ttbarBkg_Mass_f1 =  0.5 C L(0 - 1) 

qcdBkg_Mass_mean =  0.10000 C L(-INF - +INF) 
qcdBkg_Mass_sigmaL =  0.10000 C L(-INF - +INF) 
qcdBkg_Mass_sigmaR =  0.10000 C L(-INF - +INF) 
qcdBkg_Mass_alphaL =  0.10000 C L(-INF - +INF) 
qcdBkg_Mass_alphaR =  0.10000 C L(-INF - +INF) 

N_sig =  174730 +/- 132.19 L(-1000 - 1000000) 
N_zeeBkg =  0.0000 C L(-INF - +INF) 
N_ttbarBkg =  0.0000 C L(-INF - +INF) 
N_qcdBkg =  0.0000 C L(-INF - +INF) 

   [Observables]


transvMass =  90 C L(30 - 300)      // [GeV]
CSA07weight  = 0.001 C L(0. - 100.)
