
   [Parameters]
sig_Mass_mean =  0.10000 C L(-INF - +INF) 
sig_Mass_sigmaL =  0.10000 C L(-INF - +INF) 
sig_Mass_sigmaR =  0.10000 C L(-INF - +INF) 
sig_Mass_alphaL =  0.10000 C L(-INF - +INF) 
sig_Mass_alphaR =  0.10000 C L(-INF - +INF) 
zeeBkg_Mass_mean1 =  0.0000 C L(-INF - +INF) 
zeeBkg_Mass_sigmaL1 =  1.0000 C L(-INF - +INF) 
zeeBkg_Mass_sigmaR1 =  1.0000 C L(-INF - +INF) 
zeeBkg_Mass_alphaL1 =  0.10000 C L(-INF - +INF) 
zeeBkg_Mass_alphaR1 =  0.10000 C L(-INF - +INF) 
zeeBkg_Mass_mean2 =  0.0000 C L(-INF - +INF) 
zeeBkg_Mass_sigmaL2 =  1.0000 C L(-INF - +INF) 
zeeBkg_Mass_sigmaR2 =  1.0000 C L(-INF - +INF) 
zeeBkg_Mass_alphaL2 =  0.10000 C L(-INF - +INF) 
zeeBkg_Mass_alphaR2 =  0.10000 C L(-INF - +INF) 
zeeBkg_Mass_f1 =  0.50000 C L(-INF - +INF) 
ttbarBkg_Mass_mean =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_sigmaL =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_sigmaR =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_alphaL =  0.10000 C L(-INF - +INF) 
ttbarBkg_Mass_alphaR =  0.10000 C L(-INF - +INF) 
qcdBkg_Mass_p1 =  1.0000  L(-100 - 100) 
qcdBkg_Mass_p2 =  0.0000 C L(-100 - 100) 
N_sig =  0.0000 C L(-100 - 100) 
N_zeeBkg =  0.0000 C L(-100 - 100) 
N_ttbarBkg =  0.0000 C L(-100 - 100) 
N_qcdBkg =  100.0000  L(-1000 - 1000) 

   [Observables]


transvMass =  90 C L(30 - 250)      // [GeV]
CSA07weight  = 0.001 C L(0. - 100.)
