
   [Parameters]
sig_Mass_mean =  70 C L(50 - 100) 
sig_Mass_sigma0 =  90 C L(1 - 100) 
sig_Mass_sigma1 =  90 C L(1 - 100) 
sig_Mass_alpha = 0  C L(-10 - 0) 
sig_Mass_N =  0 C L(0 - 300) 
sig_Mass_f1 =  0 C L(0 - 1) 

zeeBkg_Mass_mean =  70 C L(50 - 100) 
zeeBkg_Mass_sigma0 =  90 C L(1 - 100) 
zeeBkg_Mass_sigma1 =  90 C L(1 - 100) 
zeeBkg_Mass_alpha = -5 C L(-10 - 0) 
zeeBkg_Mass_N =  100 C L(0 - 300) 
zeeBkg_Mass_f1 =  0.5 C L(0 - 1) 

ttbarBkg_Mass_mean =  73.921 +/- 1.4417 L(50 - 100) 
ttbarBkg_Mass_sigma0 =  10.991 +/- 5.1936 L(1 - 100) 
ttbarBkg_Mass_sigma1 =  30.851 +/- 6.5625 L(1 - 100) 
ttbarBkg_Mass_alpha = -0.830766 +/- 0.16162 L(-10 - 0) 
ttbarBkg_Mass_N =  14.542 +/- 16.415 L(0 - 300) 
ttbarBkg_Mass_f1 =  0.082648 +/- 0.097896 L(0 - 1) 

qcdBkg_Mass_mean =  0.10000 C L(-INF - +INF) 
qcdBkg_Mass_sigmaL =  0.10000 C L(-INF - +INF) 
qcdBkg_Mass_sigmaR =  0.10000 C L(-INF - +INF) 
qcdBkg_Mass_alphaL =  0.10000 C L(-INF - +INF) 
qcdBkg_Mass_alphaR =  0.10000 C L(-INF - +INF) 

N_sig =  0.0000 C L(-1000 - 1e+06) 
N_zeeBkg =  0.0000 C L(-INF - +INF) 
N_ttbarBkg =  10000  L(-1000 - 100000) 
N_qcdBkg =  0.0000 C L(-INF - +INF) 

   [Observables]

transvMass =  90 C L(30 - 300)      // [GeV]
CSA07weight  = 0.001 C L(0. - 100.)
